.pfcs_6129e471
{
background-color:var(--transparent);



border:0px solid transparent;
display:block;font-family: 'Roboto', sans-serif;
color: #000000;
font-size:1.4em;
text-align:center;
font-style:normal;
}

.pfcs_15f29543
{
background-color:var(--white);



border:0px solid transparent;
display:block;color: #000000;
font-size:1.4em;
text-align:left;
font-style:normal;
}

